html,
body {
    height: 100%;
}

body {
    background-color: #f5f5f5;
}

.form-signin {
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.form-signin .form-control {
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

a{
    color: white;

}
a:hover {
    color: lightblue;
    text-decoration: none;
}
a:active {
    color: lightcoral;
    text-decoration: none;
}
.row{
    margin: inherit;
}